
.container {
  display: grid; /* ativa o grid layout */
  grid-template-areas:
  "header header"
  "menu conteudo"
  "rodape rodape";
  grid-template-columns: 220px 1fr;
  grid-template-rows: 70px 1fr 50px;
  min-height:100vh;
}

body {
  font-family: "Tahoma";
  background: linear-gradient(135deg,#eef2f5 0%, #d6e4f0 100%);
  color: #333
}
.rodape{
  grid-area: rodape; 
  background: linear-gradient(90deg, #357ab8 0%, #2a6496 100%);
  text-align: center; /* centraliza o texto */
  font-size: 14px; /*tamanho da fonte */
  color: white; /* texto branco */
}
.menu{
  grid-area: menu;
  background: linear-gradient(90deg, #ffffff 0%,
  #f8f9fa 100%);
  padding: 25px 15 px;
}
/* itens do meu */
.menu li{
  margin:12 px 0; /*margem entre os itens */
 cursor: pointer; /*para indicar clicar */
 color: #4a90e2; /* cor do texto */
 background-color: #f0f5ff; /* cor do fundo azul */
 font-weight: 500; /* peso da fonte */
 padding: 12px 15px; /* espacamento interno */
}
.botao {
  background: linear-gradient(#4a90e2 0%,
  #357ab8); /*fundo azul*/
  color: white; /* texto branco */
  font-size: 0.9rem; /*tamanho da fonte*/
  margin-top: 25px;/* espaco acima do botao */
 
}
.menu li:hover{
  background-color: #4a90e2;
  color: white;
  transform: translateX(5px) 
}
/* marcadores personalizado */
.menu li:before{
  content: ".";
  margin-right: 10px;
  color: inherit; /*herda a cor do elemento pai */
}
.header {
  background: linear-gradient(90deg, #357ab8 0%,
             #2a6496 100%);
  /* cor de fundo azul para o cabecalho */
  align-items: center;
/* alinha itens verticalmente ao centro */
grid-area: header;
/* posiciona este elemnto na area header definida no grid*/
color: white;
/* cor do texto branco*/
}
.card {
  padding: 2.5em; /* espacamento interno */
  background: linear-gradient(#ffffff 0%,
   #f7f9fc 100%);
   border-radius: 12px; /* cantos arredondados */
   box-shadow: 0 5px 15 px rgba(0,0,0,0.8);
   /* sombra suave */
}
/*efeito houver para o card */
.card:hover {
transform: translateY(-5px);

}

h2 {
  color: #4a90e2;
  margin: 1.2em 0 0.7em 0; /*margim vertical */
  padding-bottom: 0.4em;
  border-bottom: 2px dashed #e0e0e0;
  font-size: 1.8rem
}
h1 {
  color: #f4f6f8; /*cor azul */
  margin-bottom: 0.8em; /* margens vertical */
  font-size: 2.2rem; /* tamanho da fonte */
  text-align: center; /*centralizado */
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
